//! **************************************************************************
// Written by: Map P.28xd on Sun Apr 12 19:36:13 2015
//! **************************************************************************

SCHEMATIC START;
PROHIBIT = SITE "P144";
PROHIBIT = SITE "P69";
PROHIBIT = SITE "P60";
COMP "WING_AH0" LOCATE = SITE "P79" LEVEL 1;
COMP "WING_AH1" LOCATE = SITE "P81" LEVEL 1;
COMP "WING_AH2" LOCATE = SITE "P83" LEVEL 1;
COMP "WING_AH3" LOCATE = SITE "P85" LEVEL 1;
COMP "WING_BH0" LOCATE = SITE "P74" LEVEL 1;
COMP "WING_AH4" LOCATE = SITE "P88" LEVEL 1;
COMP "WING_BH1" LOCATE = SITE "P95" LEVEL 1;
COMP "WING_AH5" LOCATE = SITE "P93" LEVEL 1;
COMP "WING_BH2" LOCATE = SITE "P62" LEVEL 1;
COMP "WING_AH6" LOCATE = SITE "P98" LEVEL 1;
COMP "WING_BH3" LOCATE = SITE "P59" LEVEL 1;
COMP "WING_AH7" LOCATE = SITE "P100" LEVEL 1;
COMP "WING_AL0" LOCATE = SITE "P48" LEVEL 1;
COMP "WING_CH0" LOCATE = SITE "P123" LEVEL 1;
COMP "WING_BH4" LOCATE = SITE "P57" LEVEL 1;
COMP "WING_AL1" LOCATE = SITE "P51" LEVEL 1;
COMP "WING_CH1" LOCATE = SITE "P124" LEVEL 1;
COMP "WING_BH5" LOCATE = SITE "P55" LEVEL 1;
COMP "WING_AL2" LOCATE = SITE "P56" LEVEL 1;
COMP "WING_CH2" LOCATE = SITE "P126" LEVEL 1;
COMP "WING_BH6" LOCATE = SITE "P50" LEVEL 1;
COMP "WING_AL3" LOCATE = SITE "P58" LEVEL 1;
COMP "WING_CH3" LOCATE = SITE "P127" LEVEL 1;
COMP "WING_BH7" LOCATE = SITE "P47" LEVEL 1;
COMP "WING_AL4" LOCATE = SITE "P61" LEVEL 1;
COMP "WING_CH4" LOCATE = SITE "P131" LEVEL 1;
COMP "WING_BL0" LOCATE = SITE "P99" LEVEL 1;
COMP "WING_AL5" LOCATE = SITE "P66" LEVEL 1;
COMP "WING_CH5" LOCATE = SITE "P132" LEVEL 1;
COMP "WING_BL1" LOCATE = SITE "P97" LEVEL 1;
COMP "WING_AL6" LOCATE = SITE "P67" LEVEL 1;
COMP "WING_CH6" LOCATE = SITE "P133" LEVEL 1;
COMP "WING_BL2" LOCATE = SITE "P92" LEVEL 1;
COMP "WING_AL7" LOCATE = SITE "P75" LEVEL 1;
COMP "WING_CH7" LOCATE = SITE "P134" LEVEL 1;
COMP "WING_BL3" LOCATE = SITE "P87" LEVEL 1;
COMP "WING_CL0" LOCATE = SITE "P114" LEVEL 1;
COMP "WING_BL4" LOCATE = SITE "P84" LEVEL 1;
COMP "WING_CL1" LOCATE = SITE "P115" LEVEL 1;
COMP "WING_BL5" LOCATE = SITE "P82" LEVEL 1;
COMP "WING_CL2" LOCATE = SITE "P116" LEVEL 1;
COMP "WING_BL6" LOCATE = SITE "P80" LEVEL 1;
COMP "WING_CL3" LOCATE = SITE "P117" LEVEL 1;
COMP "WING_BL7" LOCATE = SITE "P78" LEVEL 1;
COMP "WING_CL4" LOCATE = SITE "P118" LEVEL 1;
COMP "WING_CL5" LOCATE = SITE "P119" LEVEL 1;
COMP "WING_CL6" LOCATE = SITE "P120" LEVEL 1;
COMP "WING_CL7" LOCATE = SITE "P121" LEVEL 1;
COMP "ext_pins_inout<10>" LOCATE = SITE "P23" LEVEL 1;
COMP "ext_pins_inout<11>" LOCATE = SITE "P24" LEVEL 1;
COMP "ext_pins_inout<12>" LOCATE = SITE "P26" LEVEL 1;
COMP "ext_pins_inout<13>" LOCATE = SITE "P27" LEVEL 1;
COMP "ext_pins_inout<14>" LOCATE = SITE "P29" LEVEL 1;
COMP "ext_pins_inout<15>" LOCATE = SITE "P30" LEVEL 1;
COMP "ext_pins_in<0>" LOCATE = SITE "P94" LEVEL 1;
COMP "ext_pins_in<1>" LOCATE = SITE "P65" LEVEL 1;
COMP "ext_pins_in<2>" LOCATE = SITE "P101" LEVEL 1;
COMP "ext_pins_inout<0>" LOCATE = SITE "P9" LEVEL 1;
COMP "ext_pins_inout<1>" LOCATE = SITE "P10" LEVEL 1;
COMP "ext_pins_inout<2>" LOCATE = SITE "P11" LEVEL 1;
COMP "ext_pins_inout<3>" LOCATE = SITE "P12" LEVEL 1;
COMP "ext_pins_inout<4>" LOCATE = SITE "P14" LEVEL 1;
COMP "ext_pins_inout<5>" LOCATE = SITE "P15" LEVEL 1;
COMP "ext_pins_inout<6>" LOCATE = SITE "P16" LEVEL 1;
COMP "ext_pins_inout<7>" LOCATE = SITE "P8" LEVEL 1;
COMP "ext_pins_inout<8>" LOCATE = SITE "P21" LEVEL 1;
COMP "ext_pins_inout<9>" LOCATE = SITE "P22" LEVEL 1;
COMP "ext_pins_out<10>" LOCATE = SITE "P44" LEVEL 1;
COMP "ext_pins_out<11>" LOCATE = SITE "P43" LEVEL 1;
COMP "ext_pins_out<12>" LOCATE = SITE "P41" LEVEL 1;
COMP "ext_pins_out<20>" LOCATE = SITE "P32" LEVEL 1;
COMP "ext_pins_out<13>" LOCATE = SITE "P40" LEVEL 1;
COMP "ext_pins_out<21>" LOCATE = SITE "P1" LEVEL 1;
COMP "ext_pins_out<14>" LOCATE = SITE "P141" LEVEL 1;
COMP "ext_pins_out<22>" LOCATE = SITE "P7" LEVEL 1;
COMP "ext_pins_out<15>" LOCATE = SITE "P35" LEVEL 1;
COMP "ext_pins_out<23>" LOCATE = SITE "P17" LEVEL 1;
COMP "ext_pins_out<16>" LOCATE = SITE "P143" LEVEL 1;
COMP "ext_pins_out<24>" LOCATE = SITE "P2" LEVEL 1;
COMP "ext_pins_out<17>" LOCATE = SITE "P142" LEVEL 1;
COMP "ext_pins_out<25>" LOCATE = SITE "P6" LEVEL 1;
COMP "ext_pins_out<18>" LOCATE = SITE "P5" LEVEL 1;
COMP "ext_pins_out<26>" LOCATE = SITE "P112" LEVEL 1;
COMP "ext_pins_out<19>" LOCATE = SITE "P33" LEVEL 1;
COMP "ext_pins_out<0>" LOCATE = SITE "P70" LEVEL 1;
COMP "ext_pins_out<1>" LOCATE = SITE "P64" LEVEL 1;
COMP "ext_pins_out<2>" LOCATE = SITE "P38" LEVEL 1;
COMP "ext_pins_out<3>" LOCATE = SITE "P105" LEVEL 1;
COMP "ext_pins_out<4>" LOCATE = SITE "P140" LEVEL 1;
COMP "ext_pins_out<5>" LOCATE = SITE "P139" LEVEL 1;
COMP "ext_pins_out<6>" LOCATE = SITE "P138" LEVEL 1;
COMP "ext_pins_out<7>" LOCATE = SITE "P137" LEVEL 1;
COMP "ext_pins_out<8>" LOCATE = SITE "P46" LEVEL 1;
COMP "ext_pins_out<9>" LOCATE = SITE "P45" LEVEL 1;
SCHEMATIC END;

